<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <!--  세 번째 서블릿 주소 매핑 -->
    <servlet>
       <servlet-name>tservlet</servlet-name>
       <servlet-class>com.thirdweb.ThirdServlet</servlet-class> <!-- 매핑할 클래스에서 마우스 우클릭 copy qualified 해서 하면 된다. -->
    </servlet>
    <servlet-mapping>
       <servlet-name>tservlet</servlet-name>
       <url-pattern>/tservlet</url-pattern>
    </servlet-mapping>
    
    <context-param>
       <param-name>uname</param-name>
       <param-value>홍길동</param-value>
    </context-param>
    <context-param>
      <param-name>uoffice</param-name>
      <param-value>쌤쑹</param-value>
    </context-param>
</web-app>